*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    background: linear-gradient(135deg, red , green);
    min-height: 100vh;
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background-color: bisque;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: chocolate;
}
.to-do-app h1 img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    background: bisque;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}
input{
    flex: 1;
    font-size: 30px;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 20px;
}
ul li{
    user-select: none;
    font-size: 20px;
    list-style: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content:'';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(./to-do-icon/unchecked.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px; 
}
ul li.checked{
    text-decoration:line-through;

}
ul li.checked::before{
    background-image: url(./to-do-icon/checked.png);
}
ul li span{
    position:absolute ;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
     
}
ul li span:hover{
    background: red;
    border-radius: 50%;

}